.BNDSB-comp-wrapper {
	margin: 30px 0;
	display: flex;
}

.BNDSB-story-wrapper {
	margin: 0 20px;
}

.BNDSB-hero-wrapper {
	max-width: 1000px;
	width: 80%;
	display: flex;
	align-items: center;
	border: 1px solid gray;
	margin: 30px auto;
}

.BNDSB-page-wrapper {
	background: #f1f4f8;
	padding-top: 30px;
	height: calc(100vh - 30px);
}
